<!-- Gallery Section -->
    <section id="gallery" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Gallery</h2>
                    <h3 class="section-subheading text-muted">Thanks to Sharon of <a href="http://svheartphotography.format.com/">SV Heart Photography</a> for one really great happy hour.</h3>
                </div>
            </div>
            <div class="col-lg-12 text-center">
				<ul class="clearing-thumbs small-block-grid-4" data-clearing>
				<li><a href="{{ site.baseurl }}/img/gallery/gal01.jpg"><img class="th" src="{{ site.baseurl }}/img/gallery/gal01_thumb.jpg"></a></li>
				<li><a href="{{ site.baseurl }}/img/gallery/gal02.jpg"><img class="th" src="{{ site.baseurl }}/img/gallery/gal02_thumb.jpg"></a></li>
				<li><a href="{{ site.baseurl }}/img/gallery/gal03.jpg"><img class="th" src="{{ site.baseurl }}/img/gallery/gal03_thumb.jpg"></a></li>
				<li><a href="{{ site.baseurl }}/img/gallery/gal04.jpg"><img class="th" src="{{ site.baseurl }}/img/gallery/gal04_thumb.jpg"></a></li>
				<li><a href="{{ site.baseurl }}/img/gallery/gal05.jpg"><img class="th" src="{{ site.baseurl }}/img/gallery/gal05_thumb.jpg"></a></li>
				<li><a href="{{ site.baseurl }}/img/gallery/gal06.jpg"><img class="th" src="{{ site.baseurl }}/img/gallery/gal06_thumb.jpg"></a></li>
                <li><a href="{{ site.baseurl }}/img/gallery/gal07.jpg"><img class="th" src="{{ site.baseurl }}/img/gallery/gal07_thumb.jpg"></a></li>
                <li><a href="{{ site.baseurl }}/img/gallery/gal08.jpg"><img class="th" src="{{ site.baseurl }}/img/gallery/gal08_thumb.jpg"></a></li>
                <li><a href="{{ site.baseurl }}/img/gallery/gal09.jpg"><img class="th" src="{{ site.baseurl }}/img/gallery/gal09_thumb.jpg"></a></li>
                <li><a href="{{ site.baseurl }}/img/gallery/gal10.jpg"><img class="th" src="{{ site.baseurl }}/img/gallery/gal10_thumb.jpg"></a></li>
                <li><a href="{{ site.baseurl }}/img/gallery/gal11.jpg"><img class="th" src="{{ site.baseurl }}/img/gallery/gal11_thumb.jpg"></a></li>
                <li><a href="{{ site.baseurl }}/img/gallery/gal12.jpg"><img class="th" src="{{ site.baseurl }}/img/gallery/gal12_thumb.jpg"></a></li>
				</ul>
            </div>
        </div>
    </section>
