<!-- Gallery Section -->
    <section id="gallery" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Gallery</h2>
                    <h3 class="section-subheading text-muted">Photos by <a href="http://svheartphotography.format.com/">SV Photography</a></h3>
                </div>
            </div>
            <div class="col-lg-12 text-center">
				<ul class="clearing-thumbs small-block-grid-4" data-clearing>
				<li><a href="{{ site.baseurl }}/img/gallery/eng01.jpg"><img class="th" src="{{ site.baseurl }}/img/gallery/eng01_thumb.jpg"></a></li>
				<li><a href="{{ site.baseurl }}/img/gallery/eng02.jpg"><img class="th" src="{{ site.baseurl }}/img/gallery/eng02_thumb.jpg"></a></li>
				<li><a href="{{ site.baseurl }}/img/gallery/eng03.jpg"><img class="th" src="{{ site.baseurl }}/img/gallery/eng03_thumb.jpg"></a></li>
				<li><a href="{{ site.baseurl }}/img/gallery/eng04.jpg"><img class="th" src="{{ site.baseurl }}/img/gallery/eng04_thumb.jpg"></a></li>
				<li><a href="{{ site.baseurl }}/img/gallery/eng05.jpg"><img class="th" src="{{ site.baseurl }}/img/gallery/eng05_thumb.jpg"></a></li>
				<li><a href="{{ site.baseurl }}/img/gallery/eng06.jpg"><img class="th" src="{{ site.baseurl }}/img/gallery/eng06_thumb.jpg"></a></li>
				</ul>
            </div>
        </div>
    </section>
