<section id="travel">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Travl and Accommodations</h2>
                <h3 class="section-subheading text-muted">Get here and stay</h3>
                <h3 id="visiting">Visiting</h3>

				<p><a href="http://nysparks.com/parks/79/details.aspx">Letchworth State Park</a> is a beautiful place to explore. There are over 66 miles of hiking trails, lots of scenic views, and a great swimming pool. You&#8217;ll need a visitor&#8217;s pass for every car that enters the park, but don&#8217;t worry—there&#8217;ll be one in your invitation. If nature isn&#8217;t your thing, there&#8217;s pizza and mini golf just up the road at the <a href="http://charcoalcorral.com/wp2014/">Charcoal Corral</a>.</p>

				<h3 id="travel">Travel</h3>

				<p>The park is around a 4 hour drive from Canton, NY and Pittsburgh, and it&#8217;s about 5 hours from New York City and Baltimore. If you&#8217;re flying, we recommend either the Rochester (ROC) or Buffalo (BUF) airports, both of which are an hour’s drive from the park.</p>

				<h3 id="lodging">Lodging</h3>

				<p>The main hotel for the wedding is the <a href="http://www.countryinns.com/mt-morris-hotel-ny-14510/nymtmorr">Country Inn &amp; Suites in Mt. Morris, NY</a>. We have reserved a block of rooms—ask for the Eley/Wyckoff wedding rate.</p>

				<p>We also have reserved the Allegiance Bed &amp; Breakfast in Mt. Morris, NY](http://www.allegiancebandb.com/rooms.html). The entire B&amp;B is set aside for wedding guests this weekend, but again, please ask for the Eley/Wyckoff rate.</p>

				<p>Finally, if you feel like roughing it, there are some rustic cabins and campsites available inside the park. <a href="http://www.reserveamerica.com/campgroundDetails.do?contractCode=NY&amp;parkId=375">Click here</a> for a list of sites and to make reservations.</p>
                <p>
            </div>
        </div>
    </div>
</section>