<!-- Services Section -->
    <section id="wedding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Weekend</h2>
                    <h3 class="section-subheading">Letchworth State Park, New York</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">BBQ Barn Party</h4>
                    <p>Everyone is invited to the welcome dinner and barn party at Maple Walnut Farms on July 15. Feel free to come at 6; food by Dinosaur BBQ will be served around 7, with music to follow. Later arrivals also welcome!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Ceremony and Reception</h4>
                    <p>The ceremony will take place at the historic Glen Iris Inn at 4pm on July 16 with drinks, dinner, and dancing immediately to follow. Buses to the wedding depart from both hotels at 2:45. A second bus leaves only Country Inn and Suites at 3pm.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-coffee fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Farewell Brunch</h4>
                    <p>Both hotels offer free breakfast, but there will also be a light breakfast available at Caroline's restuarant in the Glen Iris Inn at 10am. If you don't have time to eat, you can still stop by to say farewell any time between 10 and 12.</p>
                </div>
            </div>
        </div>
    </section>