<!-- Services Section -->
    <section id="wedding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Weekend</h2>
                    <h3 class="section-subheading">Letchworth State Park, New York</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">BBQ Barn Party</h4>
                    <p>Everyone is invited to the welcome dinner and barn party, which will happen at Maple Walnut Farms on July 15. Details forthcoming.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Ceremony and Reception</h4>
                    <p>The ceremony will take place at the historic Glen Iris Inn at 4pm on July 16 with drinks, dinner, and dancing immediately to follow.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-coffee fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Farewell Brunch</h4>
                    <p>Before you head home, have a bite to eat and a cup of coffee on Sunday morning. Details to follow.</p>
                </div>
            </div>
        </div>
    </section>